/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
  color: #333;
  font-family: 'Arial', sans-serif;
}

/* Center everything vertically and horizontally */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}